<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Sunmi printer service permissions -->
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Camera features (optional for compatibility) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunmiV1s"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SunmiV1s"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ZXing Capture Activity -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"
            tools:ignore="DiscouragedApi" />

        <!-- Query for Sunmi printer services -->
        <!--suppress AndroidElementNotAllowed -->
        <queries>
            <!--suppress AndroidElementNotAllowed -->
            <package android:name="woyou.aidlservice.jiuiv5" />
            <!--suppress AndroidElementNotAllowed -->
            <package android:name="com.sunmi.printerservice" />
            <!--suppress AndroidElementNotAllowed -->
            <intent>
                <!--suppress AndroidElementNotAllowed -->
                <action android:name="woyou.aidlservice.jiuiv5.IWoyouService" />
            </intent>
            <!--suppress AndroidElementNotAllowed -->
            <intent>
                <!--suppress AndroidElementNotAllowed -->
                <action android:name="com.sunmi.peripheral.printer.InnerPrinterService" />
            </intent>
        </queries>
    </application>

</manifest>